{% extends 'base.html.twig' %}

{% block title %} Symfony React Starter {% endblock %}

{% block body %}
    {% block header %}
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#"> Ibanfirst </a>
            <div id="nav"></div>
            <span style="color:white">{{ token }}</span>
        </nav>
    {% endblock %}
    {% block content %}
        <div class="container" style="display:flex; margin:0;">
            <div id="content">
                <div style="padding:10px 30px">
                    <label>Welcome to Ibanfirst Platform :)</label>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

