<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
             <script type="systemjs-importmap">
                    {
                        "imports": {
                            "react": "https://cdnjs.cloudflare.com/ajax/libs/react/16.8.6/umd/react.development.js",
                            "react-dom": "https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.6/umd/react-dom.development.js",
                            "react-dom/server": "https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.6/umd/react-dom-server.browser.development.js",
                            "single-spa": "https://unpkg.com/single-spa@4.3.2/lib/umd/single-spa.min.js",
                            "lodash": "https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.js",
                            "rxjs": "https://unpkg.com/rxjs@6.4.0/bundles/rxjs.umd.js"
                        }
                    }
            </script>
            <script src='https://unpkg.com/systemjs@4.1.0/dist/system.js'></script>
            <script src='https://unpkg.com/systemjs@4.1.0/dist/extras/amd.js'></script>
            <script src='https://unpkg.com/systemjs@4.1.0/dist/extras/named-exports.js'></script>
            <script src='https://unpkg.com/systemjs@4.1.0/dist/extras/use-default.js'></script>

            <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
            <script type="text/javascript" src="{{ asset('build/vendors~js/app.js') }}"></script>
            <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
        {% endblock %}
    </body>
</html>
